<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!-- The section declarations must be on top! -->
  <configSections>
    <section name="AppConfig" type="AppBrix.Configuration.AppConfigSection, AppBrix"/>
  </configSections>
  
  <appSettings>
    <add key="ConfigPath" value="Modules.config"/>
    <add key="ConfigSaveMode" value="Minimal"/>
  </appSettings>
  
  <AppConfig>
    <modules>
      <add key="AppBrix.Resolver.ResolverModule, AppBrix.Resolver"/>
      <add key="AppBrix.Factory.FactoryModule, AppBrix.Factory"/>
      <add key="AppBrix.Cloning.CloningModule, AppBrix.Cloning"/>
      <add key="AppBrix.Configuration.ConfigModule, AppBrix.Configuration"/>
      <add key="AppBrix.Caching.CacheModule, AppBrix.Caching"/>
      <add key="AppBrix.Events.EventsModule, AppBrix.Events"/>
      <add key="AppBrix.Time.TimeModule, AppBrix.Time"/>
      <add key="AppBrix.Logging.LoggingModule, AppBrix.Logging"/>
      <add key="AppBrix.Logging.Console.ConsoleLoggerModule, AppBrix.Logging.Console"/>
      <add key="AppBrix.Logging.File.FileLoggerModule, AppBrix.Logging.File" status="Disabled"/>
    </modules>
  </AppConfig>
  
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
  </startup>
</configuration>
