<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="TimeConfig" type="AppBrix.Time.Configuration.TimeConfig, AppBrix.Time" />
    <section name="LoggingConfig" type="AppBrix.Logging.Configuration.LoggingConfig, AppBrix.Logging" />
    <section name="FileLoggerConfig" type="AppBrix.Logging.File.Configuration.FileLoggerConfig, AppBrix.Logging.File" />
  </configSections>
  <TimeConfig kind="Utc" />
  <LoggingConfig async="true" level="Trace" />
  <FileLoggerConfig path="Program.log" />
</configuration>